*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f2e8cf;
}

i {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  height: 90vh;
}

nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  left: 0;
  top: 0;
  background: #e9c46a;
  z-index: 100000;
  line-height: 60px;
}

.scrolled {
  background: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #2a9d8f;
}

.scrolled .logo {
  color: #2a9d8f;
}

.scrolled .navbar .nav-link,
.scrolled .navbar .nav-link:hover,
.scrolled .navbar .nav-link.active {
  color: #2a9d8f;
}

.scrolled .navbar .nav-link::after {
  background: #2a9d8f;
}

.scrolled .navbar .nav-link:hover::after,
.scrolled .navbar .nav-link.active:hover::after,
.scrolled .navbar .nav-link.active::after {
  color: #2a9d8f;
  width: 100%;
}

.scrolled .login-btn a {
  background: #2a9d8f;
  color: #fff;
}

.scrolled .login-btn a:hover {
  color: #2a9d8f;
  border: 2px solid #2a9d8f;
}

nav .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 1.75rem;
}

.nav-toggler,
.nav-toggler-label {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.navbar .nav-link {
  padding: 0.25rem 0;
  position: relative;
  font-weight: 600;
  color: #eee;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #fff;
  transition: 0.5s all;
}

.navbar .nav-link:hover,
.navbar .nav-link:hover::after,
.navbar .nav-link.active,
.navbar .nav-link.active::after {
  color: #fff;
  width: 100%;
}

nav .login-btn {
  margin: auto 0;
}

nav .login-btn a {
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  background: #fff;
  color: #2a9d8f;
  font-weight: 600;
  transition: 0.5s all;
}

nav .login-btn a:hover {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

header {
  height: 100vh;
  position: unset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center start;
  padding: 0 4rem;
  background-color: #e9c46a;
}

header .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

header .desc h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #2a9d8f;
}

header .desc h2 span {
  color: #fff;
}

header .desc p {
  font-size: 1.2rem;
  padding: 1rem 0;
  font-weight: 600;
  color: #264653;
}

header .desc a.cta {
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  background: #2a9d8f;
  color: #fff;
  font-weight: 600;
  transition: 0.5s all;
}

header .desc a.cta i {
  font-size: 1rem;
  margin-left: 0.25rem;
}

header .desc a:hover {
  background: #264653;
}

.why,
.testimonials,
.contact {
  text-align: center;
}

.why .title,
.testimonials .title,
.contact .title {
  font-size: 2.5rem;
  color: #264653;
}

.why-desc,
.testimonials-desc,
.contact-desc {
  font-size: 1.1rem;
  padding: 0.25rem 0;
  color: #264653;
}

.why {
  padding: 2rem 7rem;
  background: #f2e8cf;
}

.opportunities {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  place-content: center;
  gap: 1.25rem;
  margin: 30px auto;
}

.opportunities .card {
  background: #fff;
  /* border: #e9c46a 2px solid; */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1.5rem 2.5rem;
  border-radius: 0.25rem;
  transition: 0.3s transform ease, 0.3s box-shadow ease, 0.4s border ease;
}

.opportunities .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  border: 2px solid #2a9d8f;
}

.card h4 {
  font-size: 1.25rem;
  color: #264653;
  margin-bottom: 0.25rem;
}

.card p {
  font-weight: medium;
  color: #264653;
  font-size: 1rem;
}

.card i {
  font-size: 2rem;
}

.card .fas {
  color: #264653;
}

.testimonials {
  padding: 2rem 4rem;
  background: #2a9d8f;
}

.testimonials .title,
.testimonials-desc {
  color: #fff;
}

.testimonials .testimonial-contents {
  margin: 2rem 0 3.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.testimonials .testimonial-content {
  padding: 1.25rem;
  background: #fff;
  border-radius: 0.75rem;
  transition: 0.5s all ease;
}

.testimonials .testimonial-content:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}

.testimonial-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.25rem 0 0 0;
  color: #264653;
}

.testimonial-content h4 {
  font-size: 0.75rem;
  color: #2a9d8f;
}

.testimonial-content .fa-quote-left,
.testimonial-content .fa-quote-right {
  color: #2a9d8f;
  font-size: 1.15rem;
  line-height: 0;
}

.testimonial-content .fa-quote-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonial-content .fa-quote-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 5px;
  transform: scale(-1, -1);
}

.testimonial-content p {
  font-size: 1rem;
  color: #264653;
  font-weight: 600;
  font-style: italic;
}

.testimonials a.apply {
  border-radius: 0.35rem;
  padding: 1rem 1.5rem;
  background: #fff;
  color: #264653;
  font-weight: 600;
  transition: 0.5s all;
}

.testimonials a.apply i {
  font-size: 1rem;
  margin-left: 0.35rem;
  transition: all 0.5s ease-in;
}

.testimonials a.apply:hover {
  background: inherit;
  color: #fff;
  border: #fff 2px solid;
}

.contact {
  padding: 2rem 4rem;
  height: 70vh;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  place-content: center;
  gap: 1.25rem;
}

.contacts .credentials,
.contacts .planning {
  color: #264653;
}
.contact .credentials h4,
.contact .planning h4 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem;
}
.contact .planning h4 {
  text-align: right;
}

.contact .credentials .items,
.contact .planning .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 0.75rem;
}

.contact .planning .items {
  align-items: end;
}

.contact .credentials .item,
.contact .planning .item {
  display: flex;
  align-items: center;
  gap: 1.15rem;
  margin: 0.25rem 0;
}

.item span {
  font-size: 1.15rem;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 1.5rem 4rem;
  background: #2a9d8f;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 0.75rem;
  color: #fff;
}

.left a.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}

.left .logo img {
  width: 1.75rem;
  padding: auto;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.right i {
  font-size: 1.5rem;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #2a9d8f;
  transition: 0.3s all ease-in;
}

.links i:hover {
  color: #264653;
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
  .nav-toggler-label {
    display: block;
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  nav {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fafbfd;
    line-height: 40px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 0.3s;
  }

  .nav-toggler:checked ~ nav {
    transform: scale(1, 1);
  }

  .navbar {
    display: block;
    width: 100%;
  }

  .navbar .nav-item {
    margin: 0;
  }

  .navbar .nav-link {
    display: block;
    padding-left: 1rem;
    width: 100%;
  }

  .navbar .nav-link:hover,
  .navbar .nav-link.active {
    background-color: #f3f3f3;
  }
}
